/*main styles*/ 

body { 
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
    color: #2E2F42;
}

a {
    color: #2E2F42;
}

a:active {
    color:#404BBF;
}

button:hover {
    background-color: #404BBF;
    color: #FFF;
}

.link { 
    text-decoration: none;
}

.list {
    list-style-type: none;
}

/*header*/

.header-logo {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.header-logo-sp {
    color: var(--iris, #4D5AE5);
}

.navigation-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address {
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

/*main*/

.main-title {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    background: var(--navyblue, #2E2F42);
}

.button {
    color: var(--white, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
}

.advantages-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.advantages-list-description {
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.programs-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.team-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    background: #F4F4FD;
}

.team-name {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-list-description {
    color: var(--slate, #434455);
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*footer*/

.footer-logo {
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.03em;
    background-color: #2E2F42;
}

.footer-logo-sp {
    color: var(--iris, #4D5AE5);
}

.footer-description {
    color: var(--cloud, #F4F4FD);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #2E2F42;
}

/*portfolio*/

.portfolio-button-link {
    color: var(--iris, #4D5AE5);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background: var(--cloud, #F4F4FD);
    border: none;
}

.img-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.img-description {
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}